<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Geloso Wine Bar</title>

        <link href="../_/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../_/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../_/css/index.css">
        <link rel="icon" type="image/ico" href="../_/img/logo.png">
        
    </head>
    <body>
        
        <div id="page">
            
            <header>
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container">
                        <div class="page-scroll navbar-header">
                            <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#page">
                                <img class="logo img-responsive img-rounded" alt="geloso" src="../_/img/logo-mini.png">
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="page-scroll active"><a href="#home">Home</a></li>
                                <li class="page-scroll"><a href="#wines">Wines</a></li>
                                <li class="page-scroll"><a href="#menu">Menu</a></li>
                                <li class="page-scroll"><a href="#about">About</a></li>
                                <li class="page-scroll"><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            
            <div id="body">  
                                
                <section id="home">
                    <div class="container">
                        <div class="row">
                            <div class="carousel-space col-md-12">
                            
                                <div id="features-carousel" class="carousel slide" data-ride="carousel">  
                                    <ol class="carousel-indicators">
                                        <li data-target="#features-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#features-carousel" data-slide-to="1"></li>
                                        <li data-target="#features-carousel" data-slide-to="2"></li>
                                        <li data-target="#features-carousel" data-slide-to="3"></li>
                                        <li data-target="#features-carousel" data-slide-to="4"></li>
                                    </ol>

                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="../_/img/1200x400/live-outside1.jpg" alt="...">
                                            <div class="carousel-caption">
                                                <h3>
                                                    Geloso wine bar
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="../_/img/1200x400/inside3.jpg" alt="...">
                                            <div class="carousel-caption">
                                                <h3>a sensational place</h3>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="../_/img/1200x400/inside1.jpg" alt="...">
                                            <div class="carousel-caption">
                                                <h3>that offers variety of incredible wines</h3>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="../_/img/1200x400/platter4.jpg" alt="...">
                                            <div class="carousel-caption">
                                                <h3>and delicious platters, </h3>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="../_/img/1200x400/outside-night.jpg" alt="...">
                                            <div class="carousel-caption">
                                                <h3>realy sometimes wine is just necessary.</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="left carousel-control" href="#features-carousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#features-carousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="wines">
                    <div class="container">
                        <div class="row section-header text-center">
                            <div class="col-md-12">
                                <h2>Wines</h2>
                                <hr class="glass-primary">
                            </div>
                        </div>
                        <div class="row contents">
                            <div class="wine-list col-md-8">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Red
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><p class="small">Μακκάς, Μαραθεύτικο, Λευκάδα, Syrah, Grenache</p></li>
                                                    <li><p class="small">Μακκάς Μαραθεύτικο, 100% Μαραθεύτικο</li>
                                                    <li><p class="small">Ζαμπάρτας Επικούρειος, Mourvèdre, Γιαννούδι</li>
                                                    <li><p class="small">Κτήμα Αβαντίς, Grenache, Syrah, Mourvèdre</li>
                                                    <li><p class="small">Στέλιος Κεχρής, Γένεσις, Ξινόμαυρο, Merlot</li>
                                                    <li><p class="small">Κτήμα Άλφα Axia, Syrah, Ξινόμαυρο</li>
                                                    <li><p class="small">Cantina di Zeni Valpolicella Ripasso, Corvina, Rondinella, Molinara</li>
                                                    <li><p class="small">Marchesi di Barolo “Maraia” Barbera, 100% Barbera del Monferato</li>
                                                    <li><p class="small">Marchesi di Barolo “Servaj” Dolcetto, 100% Dolcetto</li>
                                                    <li><p class="small">Gaja Ca'Marcanda "Promis" Toscana IGT, Syrah, Merlot, Sangiovese</li>
                                                    <li><p class="small">Barone Ricassoli, Brolio Chianti Classico, 100% Sangiovese</li>
                                                    <li><p class="small">Velenosi, Montepulciano d’Abruzzo, 100% Montepulciano d’Abruzzo</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    White
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><p class="small">Μακκάς, Ξυνιστέρι, Semillon, Chardonnay</li>
                                                    <li><p class="small">Ζαμπάρτας, Semillon, Sauvignon Blanc</li>
                                                    <li><p class="small">Κτήμα Αβαντίς, Ασσύρτικο, Viogner, Muscat</li>
                                                    <li><p class="small">Αβαντίς Sauvignon Blanc, 100% Sauvignon Blanc </li>
                                                    <li><p class="small">Στέλιος Κεχρής Γένεσις, Ροδίτης, Sauvignon Blanc</li>
                                                    <li><p class="small">Μαντινεία Τρουπή, 100% Μοσχοφίλερο</li>
                                                    <li><p class="small">Κτήμα Άλφα Μαλαγουζιά, 100% Μαλαγουζιά	</li>
                                                    <li><p class="small">Σαντορίνη Χατζηδάκι, 100% Ασσύρτικο</li>
                                                    <li><p class="small">Abonna Gavi, 100% Cortese	</li>
                                                    <li><p class="small">Sacchetto Pinot Grigio, 100% Pinot Grigio</li>
                                                    <li><p class="small">Zenato Lugana San Benedetto, 100% Trebiano di Lugana</li>
                                                    <li><p class="small">Velenosi Verdicchio Classico dei Castelli di Jesi, Verdicchio</li>
                                                    <li><p class="small">Planeta La Segreta, Grecanico, Chardonnay, Fiano, Viogner	</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Rosé
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><p class="small">Μακκάς Ροδοστάφυλο, Μαραθεύτικο, Λευκάδα</li>
                                                    <li><p class="small">Ζαμπάρτας, Λευκάδα, Cabernet Franc</li>
                                                    <li><p class="small">Planeta Rose di Sicilia, Nero d’ Avola Syrah</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                    Foamy &amp; Champagnes
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <h4>Foamy</h4>
                                                <ul>
                                                    <li><p class="small">Marchesi di Barolo Malvasia, Sweet Rose, 100% Malvasia di Schierano</li>
                                                    <li><p class="small">Marchesi di Barolo Moscato d’Asti, Sweet, 100% Moscato d’Asti</li>
                                                    <li><p class="small">Gancia Prosecco Brut, 100% Glera</li>
                                                </ul>
                                                <br>
                                                <h4>Champagne</h4>
                                                 <ul>
                                                    <li><p class="small">Piper – Heidsieck Brut, Chardonnay, Pinot Noir, Pinot Menieur</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="pouring-wine" class="col-md-4">
                                <img class="img-rounded img-responsive" alt="geloso" src="../_/img/pouring-wine.png">
                            </div>
                        </div>
                    </div>
                </section>
                                
                <section id="menu">
                    <div class="container">
                        <div class="row section-header text-center">
                            <div class="col-md-12">
                                <h2>Menu</h2>
                                <hr class="menu-primary">
                            </div>
                        </div>
                        <div class="row contents">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1"></div>
                                    <div class="col-md-3 col-sm-3">
                                        <h3>Beers</h3>
                                        <ul>
                                            <li><p class="small">Chimay</p></li>
                                            <li><p class="small">Duvel</p></li>
                                            <li><p class="small">Lifesman</p></li>
                                            <li><p class="small">Carlsberg</p></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1 col-sm-1"></div>
                                    <div class="col-md-3 col-sm-3">
                                        <h3>Whisky</h3>
                                        <ul>
                                            <li><p class="small">Famous Grouse</p></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1 col-sm-1"></div>
                                    <div class="col-md-3 col-sm-3">
                                        <h3>Platters</h3>
                                        <ul>
                                            <li><p class="small">Cheese &amp; meat platters </p></li>
                                            <li><p class="small">Fruit platters</p></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1 col-sm-1"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <img class="platter-img img-rounded img-responsive" alt="geloso" src="../_/img/resources/platter6.jpg">
                                    </div>
                                    <div class="col-md-5">
                                        <img class="platter-img img-rounded img-responsive" alt="geloso" src="../_/img/resources/platter5.jpg">
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="about">
                    <div class="container">
                        <div class="row section-header text-center">
                            <div class="col-md-12">
                                <h2>About</h2>
                                <hr class="info-primary">
                            </div>
                        </div>
                        <div class="row contents">
                            <p>Wine is made from grapes and yet no other libation delivers such a range of complex colors, aromas, and flavors. The presence of this historic and cultural beverage has endured for centuries through religion and tradition. Geloso Wine Bar is here to enrich your life through the experience of wine, platters and conversation. Be experimental, learn as you savor, and let us bring the charm of wine into your life!</p>
                            <p>Our passion for wine in combination with a warm, relaxing enviroment, promise to offer you a unique wine experience. Choose between a variety of Cypriot, Greek and Italian wine and please yourself with quality italian platter. Either you are looking for a chillout summer night or for a place to enjoy a glass of wine with good friend, geloso wine bar is the place to be.</p>
                            <p>Sometimes wine is just necessary!</p>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 curve-left">
                                    <img class="img-rounded img-responsive" alt="geloso" src="../_/img/curve-line.png">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <img id="sunshine-img" class="img-rounded img-responsive" alt="geloso" src="../_/img/resources/sunshine1.jpg">
                                </div>
                                <div class="col-md-3 col-sm-3 curve-right">
                                    <img class="img-rounded img-responsive" alt="geloso" src="../_/img/curve-line.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="contact">
                    <div class="container">
                        <div class="row section-header text-center">
                            <div class="col-md-12">
                                <h2>Contact Us</h2>
                                <hr class="envelope-primary">
                            </div>
                        </div>
                        <div class="row contents">
                            <div class="col-md-3 col-sm-6">
                                <img class="img-rounded img-responsive" alt="geloso" src="../_/img/logo-inverted.png">
                            </div>
                            <div class="contact-info col-md-3 col-sm-6">
                                <p>Deligianni 1, Lykavitos</p>
                                <p>1055, Nicosia (Kallipoleos side street)</p>
                                <p><b>Phone:</b> 22376787, 99805904</p>
                                <p><b>Email:</b> geloso@cytanet.com.cy</p>
                                <p><b>Hours:</b> Sun-Mon 18:00-01:00</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">  
                                            <input id="name-input" name="name-input" placeholder="Name" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <input id="email-input" name="email-input" placeholder="Email" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="message-input" placeholder="Message" name="message-input"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-default btn-lg"> Send </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 find-us-space">
                                <div id="find-us"></div>
                            </div>
                        </div>
                    </div>
                </section>
           
            </div>
            
            <footer class="footer">
                <div class="container">
                    <span>Copyright © Geloso 2015 </span>
                    <ul class="social-networks">
                        <li><a target="_blank" href="https://www.facebook.com/pages/Geloso-wine-bar/1626369354274656?fref=ts"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </footer>
            
        </div>
        
        <div class="page-scroll scroll-top">
            <a class="btn btn-default" href="#page">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2EA4sdIqrbEfOr6RE9AuUmdiP2dJeVLQ"></script>
        <script src="../_/lib/jquery/dist/jquery.min.js"></script>
        <script src="../_/lib/jquery.easing/js/jquery.easing.min.js"></script>
        <script src="../_/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../_/js/index.js"></script>
                
    </body>
</html>